.nav.modernize {

    li.nav-item {


        a.nav-link {
            color: $brown !important;
            font-weight: bold !important;
            font-size: 16pt !important;
            padding: 5px !important;
            margin: 5px 15px;

            &.active, &:hover {
                border-bottom: 2px solid $purple;
                background: transparent !important;
                color: $brown !important;
                border-radius: 0 !important;
                padding: 5px !important;
            }
        }
    }
}


a.nav-link.modernize.purple {
    color: $brown;
    opacity: 0.6;

    span {
        font-size: 22px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        color: $weakbrown;
        margin-bottom: 0 !important;
    }

    &.active {
        opacity: 1 !important;
        border-left: 3px solid $purple;
        background: transparent !important;
        border-radius: 0 !important;
    }
}

img.mobile-friendly {
    max-height: 600px;
}

a.nav-link.profile-link {
    display: flex;
    align-items: center;
    color: $weakbrown !important;

    div.image {
        margin-left: 5px;

        img.circle {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.13);
        }
    }

    &:focus {
        box-shadow: none !important;
    }
}


.nav-icons {
    color: $weakbrown;
    margin-right: 10px;

    a {
        color: inherit;
    }
}


ul.nav.nav-tabs.modernize {
    border: none !important;
    color: $brown;
    position: relative;
    background: #ffffff;
    box-shadow: 0px -3px 15px -4px rgba(0, 0, 0, 0.2);

    &.bg-grey {
        background: $grey-bg !important;
    }

    li.nav-item {
        a.nav-link {
            margin: 0 !important;
            padding: 10px 20px !important;
            font-weight: normal !important;
            font-size: 18px !important;

            @include media-breakpoint-down(sm) {
                font-size: 16px !important;
            }

            &:hover {
                border: none !important;
                border-bottom: 2px solid $purple !important;
                color: $purple !important;
            }

            &.active {
                background: #fff !important;
                border: none !important;
                border-bottom: 2px solid $purple !important;
                border-right: 1px solid rgba(0,0,0,0.1) !important;
                border-left: 1px solid rgba(0,0,0,0.1) !important;
                color: $purple !important;
            }
        }
    }
}


@include media-breakpoint-down(md) {
    img.mobile-friendly {
        max-height: 400px !important;
    }
}
