@import "../node_modules/bootstrap/scss/bootstrap";
@font-face {
    font-family: 'Myriad Hebrew';
    src: url('../fonts/myriad-hebrew-4.otf')
}

$purple: #9a76e9;
$blue: #538aed;
$brown: #463853;
$weakbrown: #998da0;
$grey-bg: #f6f6f6;

body {
    font-family: 'Myriad Hebrew', sans-serif !important;
    color: $brown !important;
    overflow-x: hidden;

    &.bg-grey {
        background: $grey-bg !important;
    }
}

.container-fluid {
    width: 93% !important;
    max-width: 1320px;

    @include media-breakpoint-down(sm) {
        width: 100% !important;
    }
}

.bold {
    font-weight: bold !important;
}

.flex {
    display: flex !important;
}

.justify-content-right {
    justify-content: flex-end !important;
}

.justify-center {
    justify-content: center !important;
}

.v-divider {
    width: 1px;
    height: 30px;
    border-right: 1px solid rgba(0,0,0,0.12);
    margin: 0 5px;
}

.mobile-only {
    display: none !important;
    @include media-breakpoint-down(sm) {
        display: block !important;
    }
}

.md-and-down {
    display: none;
    @include media-breakpoint-down(md) {
        display: block !important;
    }
}



@include media-breakpoint-down(sm) {
    .hidden-sm-down {
        display: none !important;
    }

    .navbar-desktop {
        display: none !important;
    }
}

@include media-breakpoint-down(md) {
    .navbar-desktop {
        display: none !important;
    }
}

@import '_navbar';

@import '_buttons';

@import '_hero';

@import '_nav';

@import '_card';

@import '_input';

@import '_dropdown';

@import '_sidebar';

@import "_tables";
